local/
**/.gradle/
**/.kotlin/
**/build/
**/local.properties
**/.idea/
**/.DS_Store
**/DerivedData/
**/xcuserdata/
**/.build/
**/__pycache__/
**/*.xcuserstate
**/*.keystore
**/*.jks
**/*.p12
**/*.mobileprovision
ios/Resources/
ios/MediConnect.xcodeproj/
